language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.2.2
  - 2.3.0
  - 2.4.0
  - 2.5.0
gemfile:
  - gemfiles/rails4.gemfile
  - gemfiles/rails5.gemfile
  - gemfiles/rails6.gemfile
before_install:
  - gem update bundler
matrix:
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/rails5.gemfile
    - rvm: 1.9.3
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.1.0
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.1.0
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.2.0
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.2.0
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.2.2
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.3.0
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.4.0
      gemfile: gemfiles/rails6.gemfile
    - rvm: 2.5.0
      gemfile: gemfiles/rails6.gemfile